html
	head
		title CSCI2720
		include css.pug
		include script.pug
	body
		div.wrapper
			include sidebar.pug
			div.main-panel
				include nav.pug
				div.content
					div.container-fluid
						div.row
							div.col-md-8
								div.card
									div.header
										h4.title Create Question
									div.content
										form(submit="/mcview/create" method="POST")
											div.row
												div.col-md-12
													div.form-group
														label Question Title
														if question
															input.form-control(type="text" name="title" placeholder="Title" value=question.title required)
														else
															input.form-control(type="text" name="title" placeholder="Title" required)
											div.row
												div.col-md-5
													div.form-group
														label Four Choices
														if question
															input.form-control(type="text" name="four_choices" placeholder="Choices" value=question.four_choices required data-toggle="tooltip" data-placement="top" title="Use comma to separate four choices")
														else
															input.form-control(type="text" name="four_choices" placeholder="Choices" required data-toggle="tooltip" data-placement="top" title="Use comma to separate four choices")
												div.col-md-2
													div.form-group
														label Answer
														if question
															input.form-control(type="number" min="1" max="4" name="answer" placeholder="Answer" value=question.answer required)
														else
															input.form-control(type="number" min="1" max="4" name="answer" placeholder="Answer" required)
												div.col-md-5
													div.form-group
														label Tags
														if question
															input.form-control(type="text" name="tags" placeholder="Tags" value=question.tags data-toggle="tooltip" data-placement="top" title="Use comma to separate if you have multiple tags")
														else
															input.form-control(type="text" name="tags" placeholder="Tags" data-toggle="tooltip" data-placement="top" title="Use comma to separate if you have multiple tags")
											div.row
												div.col-md-12
													div.form-group
														label Description
														if question
															textarea.form-control(rows=5 name="description" placeholder="Description" required)
																= question.description
														else
															textarea.form-control(rows=5 name="description" placeholder="Description" required)

											p
												| Only "b", "i", "u", "pre", "p", "br" and "img" are allowed in description and four choices
												p.small
													| Illegal tags and contents would be removed
												p.small
													| Img must have a src attribute

											button.btn.btn-info.btn-fill.pull-right(type="submit") Create 
											div.clearfix
							if msg
								div.col-md-4
									include msg_modal.pug
script.
	$('#sidebar_Create').attr('class', 'active');
	$('.navbar-brand').text('Create');
	$('[data-toggle="tooltip"]').tooltip();
