//link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css")
link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
//- link(rel="stylesheet" href="/css/main.css")
link(rel="icon" type="image/png" href="/assets/img/favicon.ico")
// Bootstrap core CSS
link(href="/assets/css/bootstrap.min.css" rel="stylesheet")

// Animation library for notifications
link(href="/assets/css/animate.min.css" rel="stylesheet")

// Light Bootstrap Table core CSS
link(href="/assets/css/light-bootstrap-dashboard.css" rel="stylesheet")

link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css')
link(href="/assets/css/pe-icon-7-stroke.css" rel="stylesheet")

link(href="/css/main.css" rel="stylesheet")