html
	head
		title CSCI2720
		include css.pug
	body
		div(class="wrapper")
			include sidebar.pug
			div(class="main-panel")
				include nav.pug
				div(class="content")
					div(class="container-fluid")
						div(class="row")
							div(class="col-md-12")
								div(class="card")
									div(class="header")
										h2(class="title")
											= question.title
										h4(style="color: grey")
											| !{question.description}
									div(class="content")
										div(class="content table-responsive table-full-width")
											table(class="table table-hover table-striped")
												each choice, index in question.four_choices.split(",")
													if question.answer - 1 == index
														tbody
															td(style="background-color: #a6ff4d")
																| !{choice}
													else
														tbody
															td
																| !{choice}
											h5(class="category" style="font-size:20px; font-weight:bold;") Tags:&nbsp;
												= question.tags
											h5(class="category" style="font-size:20px; font-weight:bold;") Creator:&nbsp;
												= question.creator.username
											h5(class="category" style="font-size:20px; font-weight:bold;") Last Modified:&nbsp;
												= question.formatted_last_modified_time
											if username == question.creator.username
												div(style="margin-top: 1em")
													a(href="/mcview/" + question._id + "/edit")
														i(class="material-icons")
															| mode_edit
														span(class="vertical-align-super")
															| Edit&emsp;&emsp;
													a(class="red-text" href="/mcview/" + question._id + "/delete")
														i(class="material-icons")
															| delete_forever
														span(class="vertical-align-super")
															| Delete
	include script.pug
