html
	head
		title CSCI2720
		include css.pug
		include script.pug
	body
		div.wrapper
			include sidebar.pug
			div.main-panel
				include nav.pug
				div.content
					div.container-fluid
						div.row
							div.col-md-8
								div.card
									div.header
										h4.title Edit Question
									div.content
										form(submit="/mcview/" + question._id + "/edit" method="POST")
											div.row
												div.col-md-12
													div.form-group
														label Question Title
														input.form-control(type="text" name="title" value=question.title placeholder="Title" required)
											div.row
												div.col-md-5
													div.form-group
														label Four Choices
														input.form-control(type="text" name="four_choices" value=question.four_choices placeholder="Choices" required data-toggle="tooltip" data-placement="top" title="Use comma to separate four choices")
												div.col-md-2
													div.form-group
														label Answer
														input.form-control(type="number" min="1" max="4" name="answer" value=question.answer placeholder="Answer")
												div.col-md-5
													div.form-group
														label Tags
														if question.tags
															if question.tags.join
																input.form-control(type="text" name="tags" value=question.tags.join(",") placeholder="Tags" data-toggle="tooltip" data-placement="top" title="Use comma to separate if you have multiple tags")
															else
																input.form-control(type="text" name="tags" value=question.tags placeholder="Tags" data-toggle="tooltip" data-placement="top" title="Use comma to separate if you have multiple tags")
														else
															input.form-control(type="text" name="tags" placeholder="Tags" data-toggle="tooltip" data-placement="top" title="Use comma to separate if you have multiple tags")
											div.row
												div.col-md-12
													div.form-group
														label Description
														textarea.form-control(rows=5 name="description" placeholder="Description" required)
															= question.description

											p
												| Only "b", "i", "u", "pre", "p", "br" and "img" are allowed in description and four choices
												p.small
													| Illegal tags and contents would be removed
												p.small
													| Img must have a src attribute
											button.btn.btn-info.btn-fill.pull-right(type="submit") Confirm
											div.clearfix
							if msg
								div.col-md-4
									include msg_modal.pug
script.
	$('#sidebar_Question').attr('class', 'active');
	$('.navbar-brand').text('Edit');
	$('[data-toggle="tooltip"]').tooltip();