html
	head
		title CSCI2720
		include css.pug
	body
		div(class="wrapper")
			include sidebar.pug
			div(class="main-panel")
				include nav.pug
				div(class="content")
					div(class="container-fluid")
						form(action="/export" method="POST" id="export-form")
							div(class="row")
								div(class="col-md-12")
									div(class="card")
										div(class="content")
											a.btn.btn-info(data-toggle="modal" data-target="#promptModal" style="width: 100%")
												h3 Export

							div(class="row")
								div(class="col-md-12")
									div(class="card")
										div(class="header")
											h4(class="title") MC Questions
										div(class="content center table-responsive table-full-width")
											table(class="table table-hover table-striped")
												thead
													th ID
													th Question
													th Creator
													th Last Modified
													th:  a(id="select" href="") Select All
													each question, index in questions
														tbody
															td
																= index + 1
															td
																= question.title
															td
																= question.creator.username
															td
																= question.formatted_last_modified_time
															td(style="padding-left: 2em")
																input.checkbox_mc(type="checkbox" name="ids" value=question._id id=question._id)
																label(for=question._id)
	div(class="modal fade" id="promptModal" tabindex="1" role="dialog" aria-labelledby="promptModalLabel")
		div(class="modal-dialog" role="document")
			div.modal-content
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h4.modal-title#myModalLabel Export
				div.modal-body
					| You are going to download a CSV file. Are you sure to export?
				div.modal-footer
					button.btn.btn-default(data-dismiss="modal") Close
					button.btn.btn-info(data-dismiss="modal" id="export") Export
	include script.pug
	script.
		$('#select').click(function(e) {
			e.preventDefault();
			$('.checkbox_mc').prop('checked','checked');
		});

		$('#sidebar_Export').attr('class', 'active');
		$('.navbar-brand').text('Export');
		$('#export').click(function(e) {
			$("#export-form").submit();
			$('.checkbox_mc').prop('checked', null);
		});