html
	head
		title CSCI2720
		include css.pug
		link(href="/login/css/style.css" rel="stylesheet")

	body
		div(class="wrapper")
			include sidebar.pug
			div(class="main-panel")
				include nav.pug
				div(class="content")
					div(class="container-fluid")
						div.login
							header.login-header
								span.text LOGIN
								span.loader
							form.login-form(submit="/login" method="POST")
								input.login-input(type="text", name="username", placeholder="Username" required)
								input.login-input(type="password", name="password", placeholder="Password" required)
								button.login-btn(type="submit") login
	include script.pug
	script(src="/login/js/index.js")
