- var index = 1;
html
	head
		title CSCI2720
		include css.pug
	body
		div(class="wrapper")
			include sidebar.pug
			div(class="main-panel")
				include nav.pug
				div(class="content")
					div(class="container-fluid")
						div(class="row")
							div(class="col-md-12")
								div(class="card")
									div(class="header")
										h4(class="title") Search
									div(class="content")
										form(action="/mcview" method="GET")
											if !searchKey || searchKey == "all"
												input(type="radio" name="searchKey" value="all" id="all" checked)
											else
												input(type="radio" name="searchKey" value="all" id="all")
											span &nbsp;
											label(for="all")
												| All&emsp;

											if searchKey == "username"
												input(type="radio" name="searchKey" value="username" id="username" checked)
											else
												input(type="radio" name="searchKey" value="username" id="username")
											span &nbsp;
											label(for="username") Username&emsp;

											if searchKey == "tags"
												input(type="radio" name="searchKey" value="tags" id="tags" checked)
											else
												input(type="radio" name="searchKey" value="tags" id="tags")
											span &nbsp;
											label(for="tags") Tags&emsp;

											if searchValue
												input(type="text" name="searchValue" value=searchValue id="searchValue" required)
											else
												input(type="text" name="searchValue" id="searchValue" readonly required)
											span &emsp;
											button.btn.btn-info.btn-sm(type="submit")
												| Submit
						div(class="row")
							div(class="col-md-12")
								div(class="card")
									div(class="header")
										h4(class="title") MC Questions
									div(class="content center table-responsive table-full-width")
										table(class="table table-hover table-striped")
											thead
												th ID
												th Question
												th Creator
												th Description
												th Last Modified
												th
												each question, index in questions
													tbody
														td
															= (index + 1) + (currentPage - 1) * pageSize
														td
															= question.title
														td
															= question.creator.username
														td
															= question.brief_description
														td
															= question.formatted_last_modified_time
														td
															a(href="/mcview/" + question._id) Show Details
										ul(class="pagination center")
											while index <= pageTotal
												if searchKey && searchKey != "all"
													if index == currentPage
														li(class="waves-effect active")
															a(href="/mcview?searchKey=" + searchKey + "&searchValue=" + searchValue + "&page=" + index)
																= index++
													else
														li(class="waves-effect")
															a(href="/mcview?searchKey=" + searchKey + "&searchValue=" + searchValue + "&page=" + index)
																= index++
												else
													if index == currentPage
														li(class="waves-effect active")
															a(href="/mcview?page=" + index)
																= index++
													else
														li(class="waves-effect")
															a(href="/mcview?page=" + index)
																= index++
	include script.pug
	script.
		$('#sidebar_Question').attr('class', 'active');
