html
	head
		title CSCI2720
		include css.pug
	body
		.wrapper
			include sidebar.pug
			.main-panel
				include nav.pug
				.content
					.container-fluid
						.row
							.col-md-4
								.card.card-user
									.image
										img(src='/assets/img/faces/SgurrEnergy.jpg', alt='...')
									.content
										.author
											a(href='#')
												img.avatar.border-gray(src='assets/img/faces/cute1.png', alt='...')
												h4.title
													| Chan Wai Kit
													br
													small 1155049755
										p.description.text-center.text-info
											br
											| "Life is really simple
											br
											|                                                      But we insist on making it complicated"
										hr
										.text-center
											button(href="#" class="btn btn-simple"): i.fa.fa-facebook-square
											button(href="#" class="btn btn-simple"): i.fa.fa-twitter
											button(href="#" class="btn btn-simple"): i.fa.fa-google-plus-square
							.col-md-4
								.card.card-user
									.image
										img(src='/assets/img/faces/city.jpg', alt='...')
									.content
										.author
											a(href='#')
												img.avatar.border-gray(src='assets/img/faces/cute2.png', alt='...')
												h4.title
													| Ngai Ka Hong
													br
													small 1155048341
										p.description.text-center.text-primary
											br
											| "Life isn't about finding yourself
											br
											|                                                     Life is about creating yourself"
										hr
										.text-center
											button(href="#" class="btn btn-simple"): i.fa.fa-facebook-square
											button(href="#" class="btn btn-simple"): i.fa.fa-twitter
											button(href="#" class="btn btn-simple"): i.fa.fa-google-plus-square
							.col-md-4
								.card.card-user
									.image
										img(src='/assets/img/faces/forest.jpg', alt='...')
									.content
										.author
											a(href='#')
												img.avatar.border-gray(src='assets/img/faces/cute3.png', alt='...')
												h4.title
													| Leung Wing Yan
													br
													small 1155034686
										p.description.text-center.text-success
											br
											| "Be happy for this moment
											br
											|                                                     This moment is your life"
										hr
										.text-center
											button(href="#" class="btn btn-simple"): i.fa.fa-facebook-square
											button(href="#" class="btn btn-simple"): i.fa.fa-twitter
											button(href="#" class="btn btn-simple"): i.fa.fa-google-plus-square
	include script.pug
	script.
		$('#sidebar_About').attr('class', 'active');
		$('.navbar-brand').text('About Us');
