html
	head
		title CSCI2720
		include css.pug
		include script.pug
	body
		div.wrapper
			include sidebar.pug
			div.main-panel
				include nav.pug
				div.content
					div.container-fluid
						if question
							div.row
								div.col-md-8
									div.card
										div.header.center
											h1.title Success
										div.content
											div.row
												div.col-md-12
													div
														p Question Title:&nbsp;
															= question.title
															| &nbsp;(ID:&nbsp;
															= question.id
															| )
														p Four Choices:&nbsp;
															each choice, index in question.four_choices.split(",")
																if question.answer -1 == index
																	span(style="color:red;font-weight:bold;")
																		= index + 1
																		| .&nbsp;
																		= choice
																		span &emsp;
																else
																	= index + 1
																	| .&nbsp;
																	= choice
																	span &emsp;
														p Tags:&nbsp;
															= question.tags
														p Description:&nbsp;
															= question.description
														button.btn.btn-info.btn-fill.pull-left(onclick="location.href='/mcview'") Back
														div.clearfix
						else
							div.row
								div.col-md-8
									div.card
										div.header.center
											if msg
												h3.title 
													= msg
											else
												h1.title Error :(
										div.content
											button.btn.btn-info.btn-fill.pull-left(onclick="location.href='/mcview'") Back
											div.clearfix
