nav(class="navbar navbar-default navbar-fixed")
	div(class="container-fluid")
		div(class="navbar-header")
			button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2")
				span(class="sr-only") Toggle navigation
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
			a(class="navbar-brand" href="#") CSCI 2720 MC Questions System
		div(class="collapse navbar-collapse")
			ul(class="nav navbar-nav navbar-right")
				if username
					li(class="active")
						a(href="/logout")
							p Logout
				else
					li
						a(href="/login") Login
