script(src="/assets/js/jquery-1.10.2.js" type="text/javascript")
script(src="/assets/js/bootstrap.min.js" type="text/javascript")
script(src="/assets/js/bootstrap-checkbox-radio-switch.js")
script(src="/assets/js/chartist.min.js")
script(src="/assets/js/bootstrap-notify.js")
script(src="/assets/js/light-bootstrap-dashboard.js")
script(src="/js/script.js")
