div(class="sidebar" data-color="azure" data-image="/assets/img/sidebar-2.jpg")
	div(class="sidebar-wrapper")
		div(class="logo")
			a(class="simple-text") WELCOME
		ul(class="nav")
			li(id="sidebar_Question")
				a(href="/")
					i(class="pe-7s-study")
					p MC Questions
			li(id="sidebar_About")
				a(href="/member")
					i(class="pe-7s-user")
					p About Us
			li(id="sidebar_Export")
				a(href="/export")
					i(class="pe-7s-download")
					p Export
			if username
				li(id="sidebar_Create")
					a(href="/create")
						i(class="pe-7s-plus")
						p Create
	div(class="sidebar-background" style="background-image: url(/assets/img/sidebar-2.jpg) ")
