
/* Utility */

.vertical-align-bottom {
	vertical-align: bottom;
}

.vertical-align-super {
	vertical-align: super;
}

.vertical-align-text-top {
	vertical-align: text-top;
}

.center {
	text-align: center;
}

.error-msg {
	padding: 0.5em;
	margin: 0.5em;
	background-color: red;
	color: white;
}

.error-msg > .title {
	text-align: center;
}

.error-msg > .content {
	text-align: center;
	font-size: large;
	font-weight: 200;
}

/* Question CSS */
.q-title {
	font-size: xx-large;
}

.q-description > .title {
	font-size: small;
}

.q-description > .content {
	font-size: x-large;
}

.q-last-modified-time > .title {
	font-size: small;
}

.q-last-modified-time > .content {
	font-size: large;
}

.q-tags > .title {
	font-size: small;
}

.q-tags > .content {
	font-size: large;
}



/* Detail View */
.q-choices > .title {
	font-size: small;
}

.q-choices .q-choice {
	text-align: center;
	font-size: x-large;
	font-weight: 200;
	margin: 0.5em;
}

.q-choices .correct-answer {
	font-weight: 400;
}

.q-creator > .title {
	font-size: small;
}

.q-creator > .content {
	font-size: x-large;
}

.card .header h4 img {
	max-width: 100%;
	max-height: 600px;
}

table td img {
	max-width: 200px;
	max-height: 200px;
}